main {
  min-height: 80vh;
}

img {
  width: 70px; /* Set desired width */
  height: auto; /* Maintain aspect ratio */
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #000;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.container {
  display: flex;
  justify-content: space-between;
}

.gamesContainer {
  flex: 3; /* Takes the majority of the space */
  padding: 20px;
}

.betSlipContainer {
  flex: 1; /* Takes less space, adjust the ratio as needed */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes the button to the bottom */
  border: 2px solid #000;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.placeBetButton {
  background-color: #000;
  color: #4a4a4a;
  align-self: center; /* Centers the button in the bet slip container */
  padding: 10px 20px;
  margin-top: 20px; /* Adds some space above the button */
  cursor: pointer;
}
.customNavbar {
  background-color: #000 !important; /* Example: Blue color */
}

.login-page-wrapper {
  background-color: #4a4a4a;
  color: #4a4a4a;
  display: flex;
  justify-content: center; /* Centers the form container horizontally */
  align-items: center; /* Centers the form container vertically */
  min-height: 100vh; /* Use the entire screen height */
}

.bet-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #1c1c1c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}